<div class="container">
  <div class="col-sm-11">
    <h1>Tags</h1>
    <table class="table table-striped table-bordered" ng-init="init()">
      <thead>
        <th class="tagColumn">Tag</th>
        <th>Links</th>
      </thead>
      <tbody>
        <tr ng-repeat="t in tags track by $index">
          <td>
            <span ng-class="{highlight: t.links.length === 0}">{{t.name}}</span>
            <button class="close bm-edit" ng-click="edit(t._id)"><i class="fa fa-edit"></i></button>
            <button class="close bm-del" ng-show="t.links.length === 0" ng-click="delete(t._id, $index)"><i class="fa fa-trash-o"></i></button>
          </td>
          <td>
            <span ng-repeat="l in t.links">
          <a ng-href={{l.url}}>{{l.title}}</a>
        </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
